<div class="table-dark mx-auto p-4 col-md-4">
  <div class="display-table-cell">
    <div class="authBlock">
      <h3>Log In</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" #userName required>
      </div>
      <div class="form-group ">
        <input type="password" class="form-control" placeholder="Password" #userPassword required>
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="form-group">
        <input type="button" class="btn btn-primary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>
      <div class="form-group">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="form-group">
        <button type="button" class="btn btn-outline-light" (click)="authService.GoogleAuth()">
          <img src="https://img.icons8.com/color/16/000000/google-logo.png">
          Log in with Google
        </button>
      </div>
      <div class="forgotPassword">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Don't have an account?<a class="redirect" routerLink="/register-user"> Sign Up</a></span>
    </div>
  </div>
</div>
