<div class="container">
  <div class="row">
  <div class="col-md-12">
    <div class="p-2 bd-highlight">
      <div class="form-group mr-2">
        <p>Search for Meme:</p>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <button
              type="submit"
              mat-raised-button color="primary"
              class="btn btn-secondary"
              (click)="memeSearch(str.value)"
              >Search</button>
          </div>
          <input
            class="form-control"
            #str type="text"
            placeholder="..."
            (change)="memeSearch(str.value)"
            >
        </div>
      </div>
    </div>

  <div class="searchResults">
    <div class="row row-cols-2 row-cols-md-5">
      <div class="d-flex flex-wrap" *ngFor="let result of searchResults">
        <div class="result">
          <div class="card-body d-inline-block">
            <img src="{{result.images.downsized.url}}"  class="card-image-top rounded"  alt=""
          (click)="add(postDetails.url = result.images.downsized.url, postDetails.DisplayName = Steve, postDetails.favorite = false)">
          </div>

        </div>
      </div>


    </div>



  </div>




  </div>
  </div>
</div>

