.searchResult img {
  max-width:100%;
  height:auto;

}

.result {
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;

}

.result img:hover {
  transform: scale(3.25);
}
