<mat-toolbar>
  <span *ngIf="authService.userData as user" >{{user.displayName}}</span>
  <button
    class="m-4"
    *ngIf="authService.userData"
    mat-stroked-button color="primary"
    routerLink="feed">Feed</button>
  <button

    *ngIf="authService.userData"
    mat-stroked-button color="warn" (click)="authService.SignOut()">
    Log out
  </button>


</mat-toolbar>
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-3">
      <img class="p-3" mat-card-image src="assets/tmol.png" alt="" style="height: 300px">
    </div>
    <div class="col-md-9">
      <p *ngIf="!authService.userData">
        "A meme is an idea, behavior, or style that spreads by means of
        imitation from person to person within a culture and often carries
        symbolic meaning representing a particular phenomenon or theme. A meme
        acts as a unit for carrying cultural ideas, symbols, or practices, that
        can be transmitted from one mind to another through writing, speech,
        gestures, rituals, or other imitable phenomena with a mimicked theme"
      </p>
      <router-outlet></router-outlet>
    </div>

<!-- <hr class="my-4">
  <div class="row">
      <div class="col-md-12">
        <app-create></app-create>
      </div>
  </div>

</div> -->
