<div class="header"><h1>Meme of Life</h1>
<p>A meme is an idea, behavior, or style that spreads by means of imitation from person to person within a culture
  and often carries symbolic meaning representing a particular phenomenon or theme. A meme acts as a unit for
  carrying cultural ideas, symbols, or practices, that can be transmitted from one mind to another through writing,
  speech, gestures, rituals, or other imitable phenomena with a mimicked theme</p>
</div>

<br>
<router-outlet></router-outlet>
