<div class="container mt-3">
  <div class="row">
    <div class="col-sm-3">
      <h1>Meme of Life</h1>
    </div>
    <div class="col-md-9">
      <p>
        "A meme is an idea, behavior, or style that spreads by means of
        imitation from person to person within a culture and often carries
        symbolic meaning representing a particular phenomenon or theme. A meme
        acts as a unit for carrying cultural ideas, symbols, or practices, that
        can be transmitted from one mind to another through writing, speech,
        gestures, rituals, or other imitable phenomena with a mimicked theme"
      </p>
    </div>
  </div>
<app-login></app-login>
  <hr class="my-4" />
  <div class="row">
    <div class="col-md-6">
      <app-create></app-create>
    </div>
    <div class="col-md-6">
      <app-post></app-post>
    </div>
  </div>
</div>
