
h1 {
  text-shadow: 2px 2px 3px #800020;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  margin: 15px;
  align-self: center;
  height: 50px;
  width: 200px;
  background-color:rgb(88, 134, 174);
  border-radius: 25px;
  color:#f0f8ff;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
}

p {
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 10px;
  color: rgb(200, 206, 200);
  text-shadow: 2px 2px 3px red;
  vertical-align: bottom;
}

.container {
  background-color: #3a3b3c;
  color:#f0f8ff;
  border-radius: 15px;
  height:auto;
}


