<div class="container" >
  <div class="row">
    <div class="d-flex flex-wrap m-4" *ngFor="let postEl of localPost">
    <mat-card class="post-card">
      <mat-card-header>
        <mat-card-title>UserName goes here</mat-card-title>
        <mat-card-subtitle>Date of post goes here</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{postEl.images.downsized.url}}" alt="" style="height: 250px">
      <mat-card-content>
        <p>
          {{postEl.title}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary"
          (click)="onHide()"
          >Hide</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="container" *ngFor="let post of postCollectiondata">
  <div class="row">

    <mat-card class="post-card">
      <mat-card-header>
        <mat-card-title>{{post.displayName}}</mat-card-title>
        <mat-card-subtitle>Date of post goes here</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{post.url}}" alt="" style="height: 250px">
      <mat-card-actions>
        <span *ngIf="this.post.favorite; else noColor">
         <button mat-icon-button matTooltip="Primary"
           color="accent"
           aria-label="favorite"
           (click)="update(post.id, favorite = !favorite)">
           <mat-icon>favorite</mat-icon>
         </button>
        </span>
        <ng-template #noColor>
          <button mat-icon-button matTooltip="Primary"
           color="basic"
           aria-label="favorite"
           (click)="update(post.id, favorite = !favorite)">
           <mat-icon>favorite</mat-icon>
         </button>
        </ng-template>

        <button mat-raised-button color="warn"
          (click)="delete(post.id)"
          >Delete</button>
        <button mat-raised-button color="primary"
          (click)="onHide()"
          >Hide</button>
      </mat-card-actions>
    </mat-card>
    </div>
  </div>
</div>

