<div class="container" *ngFor="let postEl of localPost">
  <div class="row">

    <mat-card class="post-card">
      <mat-card-header>
        <mat-card-title>UserName goes here</mat-card-title>
        <mat-card-subtitle>Date of post goes here</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{postEl.images.downsized.url}}" alt="" style="height: 250px">
      <mat-card-content>
        <p>
          {{postEl.title}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button matTooltip="Primary"
          color="accent"
          aria-label="favorite"
          (click)="onFavorite()">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-raised-button color="warn"
          (click)="onDelete()"
          >Delete</button>
        <button mat-raised-button color="primary"
          (click)="onHide()"
          >Hide</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
