<div class="table-dark mx-auto p-4 col-md-4">
  <div class="display-table-cell">
    <div class="authBlock">
      <h3>Sign Up</h3>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder="Email Address"
          #userEmail
          required
        />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" #userPwd required/>
      </div>
      <div class="form-group">
        <input type="button" class="btn btn-primary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)"/>
      </div>
      <div class="form-group">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <!-- Continue with Google -->
      <div class="form-group">
        <button type="button" class="btn btn-outline-light" (click)="authService.GoogleAuth()">
          <img src="https://img.icons8.com/color/16/000000/google-logo.png">
          Continue with Google
        </button>
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Already have an account?
        <a routerLink="/login">Log In</a>
      </span>
    </div>
  </div>
</div>
